* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    color: aliceblue;

    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;

    background-color: rgba(0, 0, 0);
}

h3 {
    border-right: solid 3px goldenrod;
    border-bottom: solid 3px goldenrod;
    padding: 5px;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 200px));
    gap: 1.5rem 1.5rem;

    height: 85vh;
    overflow-y: scroll;
    
    padding: 1.5rem;
   background-color: azure;
}

#books > * {
    color: goldenrod;
    text-shadow: #ffc10759 2px 1px;
    border-radius: .5rem;
    box-shadow: 12px 15px 115px rgba(138, 175, 175, 0.821);
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    flex-direction: column;
    margin-right: 2rem;
}

.book-read {
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
}



.book-remove {
    background-color: red;
    border: none;
    border-radius: 10px;
}


form {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    gap: 1rem;
}

form > * {
    flex: 1;
}


.formContainer {
    display: none;
    position: absolute;
    
    width: 300px;
    padding: 10px 20px;
    background-color: rgb(218, 165, 32);
    border-radius: 5px;
}
  
.formContainer.show {
    display: block;
    margin-left: 40%;
}
  

.remove {
    border: none;
    border-radius: 50%;
    background-color:rgb(38, 36, 36, .8);
    width: 25px;
    height:25px;
    text-align:center;
    padding:.2rem;
    color: #e7efef;
    margin-left: 95%;
    margin-top: -20px;
}

label {
    display: block;
}

input{
    border: solid 2px rgb(243, 241, 235);
    border-radius: 10px;
    color: rgb(20, 135, 235);
}

input:focus{
    outline: none;
    border: solid 3px rgb(0, 128, 0, .7);
}

h3 + div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

#option {
    display: flex;
}

img {
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    flex: 1;
}

footer div a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer img {
    background-color: white;
}

a {
   text-decoration: none;
   color: rgb(218, 165, 32, .6);
}

a:hover {
    color: rgb(218, 165, 32);
}


@media (max-width: 730px) {

    .formContainer{
        width: 210px;
    }

    .formContainer.show {
        display: block;
        margin-left: 30%;
    }
      
    

    form{
        width: 100%;
        padding: 0;
    }
 
    footer {
        font-size: .8rem;
    
    }
    footer div a{
        gap: .1rem;
    }
 }
 